<html>
  <head>
    <meta charset='utf-8' />
    <title>Club Management System</title>
    <link
      rel='stylesheet'
      href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
    />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'
    />
    <script>
      function confirmDelete() { return confirm("Are you sure you want to delete the club?"); }
    </script>
  </head>

  <body>

    <h1 id='title'>Club Management System</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Logo</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each clubs}}
          <tr style='margin: top 10px; border: 1px solid grey;' id='{{tla}}'>
            <td>{{name}}</td>
            <td><img
                style='max-width: 200px; max-height: 200px;'
                src='/public/static/images/{{id}}.png'
                alt='{{name}}'
              /></td>
            <td>{{address}}</td>
            <td>
              <a href='/clubs/{{id}}'>View</a>
              <a href='/clubs/edit/{{id}}'>Edit</a>
              <form method='post' action='/delete/{{id}}' onsubmit='return confirmDelete();'>
                <input type='hidden' name='delete' value='DELETE' />
                <button type='submit' class='btn btn-danger'>Delete</button>
              </form>
              <form
                style='border: 1px solid black;'
                action='/upload/{{id}}'
                method='POST'
                enctype='multipart/form-data'
              >
                <b>Upload club logo</b>
                <input type='file' name='image' accept='image/*' />
                <button type='submit' class='btn btn-secondary'>Upload logo</button>
              </form>
            </td>

          </tr>
        {{/each}}
      </tbody>
    </table>
    <a href='/clubs/new'>Create New Club</a>
  </body>
</html>